@font-face {
      font-family: 'Geometria';
      src: url('../fonts/Geometria/geometria_bold.otf') format('truetype');
  }

  @font-face {
      font-family: 'Geometria';
      src: url('../fonts/Geometria/geometria_bolditalic.otf') format('truetype');
  }

  @font-face {
      font-family: 'Geometria';
      src: url('../fonts/Geometria/geometria_extrabold.otf') format('truetype');
  }

  @font-face {
      font-family: 'Geometria';
      src: url('../fonts/Geometria/geometria_light.otf') format('truetype');
  }

  @font-face {
      font-family: 'Geometria';
      src: url('../fonts/Geometria/geometria_lightitalic.otf') format('truetype');
  }

  @font-face {
      font-family: 'Geometria';
      src: url('../fonts/Geometria/geometria_medium.otf') format('truetype');
  }

  * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
  }

  :root {
      --blue1: #008CD3;
      --fonts: 'Geometria', Arial, sans-serif;
  }

  /* start menu */

  
 .slide-title {
  width: 100%;
  z-index: 999;
  background-color: transparent;
}

.navbar {
  max-width: 1000px;
  padding: 0px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo_1 {
  width: 80px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 30px;
}

.nav-links li a {
  text-decoration: none;
  color: #000000;
  text-transform: capitalize;
  font-weight: 500;
  transition: 0.7s;
  font-family: var(--fonts);
}

.nav-links li a:hover {
  color: var(--blue1);
}
.nav-links li a:focus{
  text-decoration: underline;

}

.menu-toggle {
  font-size: 28px;
  color: #000000;
  cursor: pointer;
  display: none;
  user-select: none;
}

@media (max-width: 900px) {
  .menu-toggle {
    display: block;
  }
  .slide-title {
  position: sticky;
  top: 0;
  }
  .nav-links {
    position: absolute;
    top: 80px;
    right: 0px;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.932);
    border-radius: 8px;
    width: 100%;
    padding: 40px 0;
    display: none;
    height: 100vh;

    text-align: center;
  }
  

  .nav-links.show {
    display: flex;
  }

  .nav-links li a {
    padding: 10px 0;
    width: 150px;
  font-size: 45px;
  color: #00000062;

  }
}



  /* stop menu */
  
  /* start here */
  
  .here{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .here h1{
    text-align: center;
    font-family: var(--fonts);
    font-size: 90px;
    line-height: 200px;
  }
  .here-child{
    display: flex;
    max-width: 1200px;
    gap: 40px;
    flex-wrap: wrap;
    padding: 50px 0;
    align-items: center;
    justify-content: center;
  }
  .here-child a{
    text-decoration: none;
  }
  .here-box{
    max-width: 560px;
    width: 1000px;
    height: 550px;

  }
  .here h2{
    font-size: 36px;
    font-family: var(--fonts);
    color: #000;
    text-align: center;
    padding: 30px 0;
  }
  .fon1{
    width: 100%;
    height: 370px;
    background-image: url(../image/letsconnect.png.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
    .fon2{
    width: 100%;
    height: 370px;
    background-image: url(../image/tap_to_apply.png.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  /* stop here */

  /* start content */

  .content{
    font-family: var(--fonts);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #eeeeee;
    padding: 100px 0;
  }
  .content-child{
    display: flex;
    max-width: 1000px;
  }
.content-box1{
    width: 50%;
    padding: 20px;
}
.content-box1 li{
    line-height: 30px;
    font-size: 14px;
}
.content-box1 h2{
    font-size: 22px;
    padding-bottom: 40px;
}
.content-box1 h1{
    font-size: 52px;
}
.content-box1 h1 span{
    color: #1849D7;
}
.main{
    margin-top: 50px;
}
.main strong{
    font-size: 16px;
    line-height: 50px;
}
.main p{
    line-height: 25px;
    color: #666666;
}
.main address{
    color: #1849D7;
    font-size: 16px;
    font-weight: 500;
}
  /* stop content */

  /* start selection */

.selection{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px 0;
    font-family: var(--fonts);
}
.selecttion-child{
    max-width: 1200px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 80px;
}
.icons1{
    display: flex;
    gap: 10px;
    margin-top: 100px;
}
.icons1 i{
    padding: 10px 12px;
    font-size: 14px;
    background-color: #000000;
    color: #ffffff;
    border-radius: 50px;
}
.icons1 i:hover{
    background-color: #000000cb;
}
address h2{
    font-size: 28px;
    padding-bottom: 40px;
}
address p{
    font-size: 20px;
    line-height: 30px;
    padding: 15px 0;
}
.map{
    border-radius: 10px;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.13);
    width:660px;
     height:420px;
}
  /* stop selection */

  /* start footer */

footer{
    background-color: #111111;
    color: #6E6A64;
    width: 100%;
    padding: 70px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-child{
    display: flex;
    justify-content: space-evenly;
    font-family: sans-serif;
    width: 90%;
}

.footer-box1{
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 260px;
}
.footer-box2{
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 260px;
}
.footer-box2 h3{
    color: #0177C0;
    font-size: 18px;
    font-weight: 700;
}
.footer-box3{
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 260px;
}
.footer-box4{
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 260px;
}

.footer-box3 a, .footer-box4 a{
    text-decoration: none;
    font-family: sans-serif;
    font-weight: 300;
    font-size: 14px;
    color: #6E6A64;
}

.footer-logo{
    max-width: 120px;
    width: 100%;
}
.icons{
    display: flex;
    gap: 10px;
}
.icons i{
    padding: 7px 9px;
    font-size: 10px;
    background-color: #0177C0;
    color: #111111;
    border-radius: 50px;
}
.icons i:hover{
    background-color: #0177c0cb;
}
.energy-text{
    font-size: 12px;
    font-weight: 500;
    font-family: var(--fonts);
}


.tilda{
    background-color: #000000;
    width: 100%;
    height: 70px;
}
.tilda-child{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 10px;
}
.tilda-img{
    width: 30px;
    height: 30px;
}
.tilda-child p{
   font-family: Arial, Helvetica, sans-serif;
   font-weight: 500;
   color: #ffffff;
   letter-spacing: 2px;
}
.tilda-child small{
    color: #ffffff;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
}
.tilda-link{
    text-decoration: none;
    opacity: .5;
}
.tilda-link:hover{
    opacity: 1;
}
/* stop footer */


/* media */


@media (max-width: 900px) {
    .content-child{
    flex-direction: column;
    align-items: center;
  }
  .content-box1{
    width: 80%;
  }
    .selecttion-child {
    gap: 50px;
    flex-direction: column;
    align-items: center;
  }

  .map {
    width: 100%;
    max-width: 600px;
    height: 400px;
  }

  address h2 {
    font-size: 24px;
    padding-bottom: 30px;
  }

  address p {
    font-size: 18px;
    line-height: 28px;
  }

  .icons1 {
    margin-top: 60px;
  }
      .footer-child{
    flex-wrap: wrap;
    gap: 50px;
  }
  .footer-child div{
    width: 50%;
  }
}
@media (max-width: 670px) {
  .here h1{
    font-size: 70px;
    line-height: 100px;
  }
 .here-box{
  max-width: 450px;
 }
 .selection {
    padding: 80px 20px;
  }

  .map {
    max-width: 100%;
    height: 360px;
  }

  address h2 {
    font-size: 22px;
    text-align: center;
  }

  address p {
    font-size: 16px;
    text-align: center;
  }

  .icons1 {
    justify-content: center;
    margin-top: 40px;
  }
}


@media (max-width: 500px) {
.content-box1 h1{
  font-size: 40px;
}
 .here-box{
  max-width: 350px;
  padding: 10px;
 }
  address h2 {
    font-size: 20px;
  }

  address p {
    font-size: 15px;
    line-height: 24px;
  }

  .map {
    height: 300px;
  }

  .icons1 i {
    font-size: 13px;
    padding: 8px 10px;
  }
}

@media (max-width: 400px) {
    .here h1{
    font-size: 55px;
    line-height: 70px;
  }
   .here-box{
  max-width: 300px;
 }
  .selection {
    padding: 60px 15px;
  }

  address h2 {
    font-size: 18px;
  }

  address p {
    font-size: 14px;
    padding: 10px 0;
  }

  .map {
    height: 260px;
  }

  .icons1 {
    gap: 8px;
  }

  .icons1 i {
    font-size: 12px;
    padding: 6px 8px;
  }
}
